@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="text-dark">WELCOME TO OUR CVs APPLICATION </h1>
    <h2 class="list-group text-dark">FILL NEW CV </h2>
</div>
